.middle-col {
  min-height: 80vh; 
  border: 1px solid #00000052;
  border-top: 0px;
  border-bottom: : 0px; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="middle-col"] {
        min-height: 20vh;
    }
    .buttons > .btn-warning {
      margin-top: 2px;
    }
}

.single-feature .icon {
	text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    position: relative;
}

.single-feature .icon span {
	position: relative;
    z-index: 2;
    font-size: 24px;
}

.desc h6 {
    margin: 20px 0;
}

.banner h2 {
	margin: 2vh 0;
}

footer {
	padding: 5px;
}

p {
	margin-bottom: 0px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
  max-height: 80vh !important;
  padding: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.buttons {
	text-align: center;
	padding-top: 30px;
}

.buttons > .btn-warning {
  color: white;
  margin-top: 30px;
}
